.book-details
{
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 150px;
}

.book-details img{
  width:100%;
  height:350px;
  object-fit: contain;


}

.button{
  margin-top: 20px;
}

.details h1{
  color:#ea2e41;

}

.bottom{

  margin-top: 20px;
  margin-right: 540px;

}

.input-group{

  width: 109px;
  background-color: whitesmoke;
  cursor: pointer;
}
